<!DOCTYPE html>
<html>
    <%- include('partials/head'); %>
    <body style="padding: 20px 20px;">
    <%- include('partials/navbar'); %>   
      <main style="display: flex; align-items: stretch;max-width: 750px;flex-direction: column;">
          <div  style="
                  display: flex;
                  flex-direction: column;
                  
                  border: 1px solid rgba(0, 0, 0, 0.483);
                  padding: 15px 20px;
                  row-gap: 20px;
                  ">      
                          <img  style="border-radius: inherit;width:100%;" class="card-img-top responsive-image" src="<%=blog.headerImageURL%>" alt="Card image cap" >
                          <div class="card-body" style="display: flex;flex-direction: column;row-gap:10px ;">
                            <h5 class="card-title"><%= blog.title %></h5>
                            <p class="card-text" style="font-size: 14px;">
                              <%= blog.content %>
                            </p>
                            <p class="card-text">Author: <%=blog.author%></p>
                          </div>
                          
          </div>
          <% console.log(blog._id) %>
          <form method="post" action="/blog/comment/<%=blog._id%>" enctype="application/x-www-form-urlencoded">
            <footer class="card-body" style="margin-top: 15px;display: flex;flex-direction: column;row-gap:10px;width: 100%;">
              <p class="card-text" style="font-size: 20px; margin: 0;">Comment</p>
              <textarea style="text-align:left; width: 100%;" id="blog-content" name="comment" rows="4" cols="50">
              </textarea>
              <button type="submit" class="btn-primary btn" style="align-self: flex-start;">Comment</button>
            </footer>
          </form>
      </main> 
      
    <%- include('partials/script'); %>
    </body>
</html>